<h2 class="text-3xl">Andere frameworks (ReactiveFormsModule)</h2>

<div class="flex gap-20">
	<div>
		<!-- <button (click)="drawer.open()">Open drawer</button>
<app-drawer #drawer></app-drawer> -->
		<form (submit)="addFramework()" [formGroup]="addFrameworkForm2">
			<ol class="grid grid-cols-[max-content,max-content,1fr] gap-2">
				<li class="grid col-span-3 grid-cols-subgrid items-center">
					<label for="input-name">Naam:</label>
					<input
						id="input-name"
						class="input input-primary"
						formControlName="name"
						[class.input-warning]="f.name.touched && !f.name.valid"
						[class.input-success]="f.name.touched && f.name.valid"
					/>

					<div>
						@if (f.name.touched && f.name.invalid) {
						<span>*</span>
						} @if (f.name.touched && f.name.errors?.["required"]) {
						<span>Vul in aub</span>
						} @if (f.name.touched && f.name.errors?.["pattern"]) {
						<span>Alleen letters, cijfers en punten graag</span>
						}@if (f.name.touched && f.name.errors?.["bigger"]) {
						<span>{{ f.name.errors?.["bigger"] }}</span>
						}
					</div>
				</li>
				<li class="grid col-span-3 grid-cols-subgrid items-center">
					<label for="input-rating">Rating:</label>
					<input
						type="number"
						id="input-rating"
						formControlName="rating"
						class="input input-primary"
					/>
				</li>
				<li class="grid col-span-2 grid-cols-subgrid items-center">
					<label for="input-logo-url">Logo:</label>
					<input
						id="input-logo-url"
						type="url"
						formControlName="logoUrl"
						class="input input-primary"
					/>
				</li>
				<li class="grid col-span-2">{{ addFrameworkForm2.value | json }}</li>
				<li class="grid col-span-2">
					<button class="btn btn-primary" [disabled]="!addFrameworkForm2.valid">Submit!</button>
				</li>
			</ol>
		</form>
	</div>
	<div>
		@if (!frameworks) {
		<p>Geen frameworks vandaag.</p>
		} @else {
		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Framework 2</th>
					<th>Rating</th>
					<th>Logo</th>
				</tr>
			</thead>
			<tbody>
				@for (framework of frameworks; track framework.id) {
				<tr [class.bg-red-200]="framework.rating > 8" [class.bla]="">
					<td>{{ framework.id }}</td>
					<td>{{ framework.name }}</td>
					<td>{{ framework.rating }}</td>
					<td><img [src]="framework.logoUrl" class="max-w-28" /></td>
				</tr>
				}
			</tbody>
		</table>
		}
	</div>
</div>
