
<h3 class="text-2xl font-bold">Autocompleter</h3>
<app-autocompleter [data]="frameworks" (selectItem)="handleFrameworkSelect($event)">

	<!-- content projection -->
	<!-- transclusion -->

	<!-- <li>
		{{framework}}
	</li> -->

</app-autocompleter>


<h3 class="text-2xl font-bold">Life</h3>

<button (click)="showLife = !showLife" class="btn btn-secondary">Toggle life</button>

@if (showLife) {
	<app-life message="bla" />
}

<div class="divider"></div>

Template Reference Variable

<div class="bla hoi ding flof" #yep>heuj!</div>

innerText: {{ yep.className }}

<!-- <button (click)="drawer.open()">Open drawer</button>
<app-drawer #drawer></app-drawer> -->

<form (submit)="addFramework()" #formpie="ngForm">
	<ol>
		<li>
			<label for="input-name">Naam:</label>
			<input
				id="input-name"
				class="input input-primary"
				[(ngModel)]="newFramework.name"
				name="name"
				required
				pattern="^[a-zA-Z0-9.]{3,}$"
				#inputName="ngModel"
				[class.input-warning]="inputName.touched && inputName.invalid"
				[class.input-success]="inputName.touched && !inputName.invalid"
			/>
			@if (inputName.touched && inputName.invalid) {
				<span>*</span>
			}
			@if (inputName.touched && inputName.errors?.["required"]) {
				<span>Vul in aub</span>
			}
			@if (inputName.touched && inputName.errors?.["pattern"]) {
				<span>Alleen letters, cijfers en punten graag</span>
			}
		</li>
		<li>
			<label for="input-rating">Rating:</label>
			<input
				type="number"
				min="1"
				max="10"
				id="input-rating"
				class="input input-primary"
				[(ngModel)]="newFramework.rating"
				name="rating"
			/>
		</li>
		<li>
			<label for="input-logo-url">Logo:</label>
			<input
				id="input-logo-url"
				type="url"
				class="input input-primary"
				[(ngModel)]="newFramework.logoUrl"
				name="logoUrl"
			/>
		</li>
		<li>{{ newFramework | json }}</li>
		<li><button class="btn btn-primary" [disabled]="formpie.invalid">Submit!</button></li>
	</ol>
</form>

@if (!frameworks) {
	<p>Geen frameworks vandaag.</p>
} @else {
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Framework 2</th>
				<th>Rating</th>
				<th>Logo</th>
			</tr>
		</thead>
		<tbody>
			@for (framework of frameworks; track framework.id) {
				<tr [class.awesome]="framework.rating > 8" [class.bla]="">
					<td>{{ framework.id }}</td>
					<td>{{ framework.name }}</td>
					<td>{{ framework.rating }}</td>
					<td><img [src]="framework.logoUrl" /></td>
				</tr>
			}
		</tbody>
	</table>
}
